node_modules/
lib/
dist/
solid-mosaic-component.css
solid-mosaic-component.css.map
playwright.config.d.ts
playwright.config.js
playwright.config.js.map
vite.lib.config.d.ts
vite.lib.config.js
vite.lib.config.js.map
*.swp
npm-debug.log
demo/dist/
test-results/

**/.idea/*
!**/.idea/*.iml
