.idea/
.editorconfig
.gitignore
.npmignore
.circleci/
.github/
.mocharc.js
.prettierrc.yml
tsconfig*.json
tslint.yml
vite.config.ts
playwright.config.*
demo/
docs/
e2e/
src/
test/
test-results/
webpack/
screencast.gif
